@import '@styles/variables';
@import '@styles/typography';

.loginBtn {
  @include callout;
  text-decoration: none;
  background-color: #fa9700;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
