@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 16px;
}

@mixin column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 16px;
}

.page {
  width: 100%;
  position: relative;
}

@mixin stackedTopBorder($color:#ffffff, $marginTop:-2em, $radius:32px) {
  position: relative;
  background-color: $color;
  margin-top:$marginTop;
  border-radius: $radius;

  padding: -$marginTop;
}
