.pet-card {
  width: 167px;
  height: 82px;
  background: #ffffff;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet-card h1 {
  color: #da8100;
  font-size: 1.2em;
  font-weight: 800;
}

.pet-card h2 {
  color: #aeaeae;
  font-weight: 800;
  font-size: 1em;
}
