.book-service-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #dadfe9;
  border-radius: 5px;
  width: 45%;
  height: 80px;
}

.service-card:hover {
  cursor: pointer;
}

.service-card h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #2d7cb6;
}
