.appointments-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.appointment {
  background: rgba(255, 255, 255, 0.71);
  border: 1px solid #d6d8da;
  border-radius: 4px;
  height: 35px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
  transition: all 0.2s linear;
}

.appointment h3 {
  font-weight: 500;
  font-size: 16px;
}

.bold-date {
  font-weight: 700;
  padding-right: 8px;
}

.appointment svg {
  transition: all 0.4s linear;
}

.rotate {
  transform: rotate(180deg);
}
